body{
    display: flex ;
  flex-direction: row;
  flex-wrap: wrap;
  background: url(field_image_istock-516189065.jpg);
  background-repeat: no-repeat ;
  margin: 0%;
  background-size: 240%;
  height: 100%;
  width: 100%;
}

header{
  width: 1920px;
  height: 150px;
  background-color: rgb(24, 24, 24);
  margin: 0%;
  display: flex ;
  flex-direction: row;
  flex-wrap: wrap;
}
main{
    width: 1920px;
    height: 1200px;
    margin: 0%;
    display: flex ;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

footer{
    width: 1920px;
    height: 80px;
    background-color: rgb(24, 24, 24);
    margin: 0%;
    display: flex ;
    flex-direction: row;
    flex-wrap: wrap;
   

}

.A1{
  width: 100%;  
  height: 60%;
}

.A2{
    width: 100%;  
    height: 40%;
    background-color: rgb(39, 39, 39);
    display: flex ;
  flex-direction: column;
  flex-wrap: wrap;
  } 
.A3{
  width: 25% ;
  height: 60px;
  text-align: center;

}
h1{
  color: azure;
  margin-bottom: 10 px;
  font-family: Arial, Helvetica, sans-serif ;
}
.B1{
  width: 60%;
  height: 96%;
  margin-top: 10px;
  margin-bottom: 15px;
  background-color: rgb(24, 24, 24) ;
  margin-left: 20%;
  border-radius: 10px;
}
.C1{
  text-decoration: none;
  color: azure;
  display: block;
  text-align: center;
  margin: 0 auto
}
.C11{
margin-top: 2%;
margin-left: 43%;
}
a{
  text-decoration: none;
}
h1{
  text-decoration: none;
}
.B2{
  width:  150px;
  height: 150px;

  display: inline-block;
  border-radius: 8px;
}

p{
  color: azure;
  margin-bottom: 10 px;
  font-family: Arial, Helvetica, sans-serif ;
}
.E1{  position: absolute;
  width: 95px;
  height: 95px;
  left: 1761px;
  top: 14px;
  
 
}
.D1{
  position: absolute;
  width: 254px;
  height: 248px;
  left: 466px;
  top: 292px;
  
  background: url(.jpg), #D9D9D9;
  border-radius: 24px;
}
.D2{
  position: absolute;
width: 254px;
height: 248px;
left: 839px;
top: 292px;

background: url(.jpg), #D9D9D9;
border-radius: 24px;
}
.D3{
  position: absolute;
width: 254px;
height: 248px;
left: 1212px;
top: 292px;

background: url(.jpg), #D9D9D9;
border-radius: 24px;
}
.E11{

background: #414141;
position: absolute;
width: 115px;
height: 100px;
left: 1773px;
top: 14px;

background: #D9D9D9;
}
.P1{

  width: 250px;
  height: 245px;
  border-radius: 24px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
